.editProfile__container {
    max-width: 415px;
    width: 100%;
    background-color: #F9F9FE;
    margin: 0 auto;
    border-radius: 8px;
}

.editProfile__edit_body {
    padding: 30px;
    max-width: 415px;
    display: flex;
    flex-direction: column;
}

.editProfile__edit_body h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    align-self: center;
}

.editProfile__img_avatar {
    margin: 15px 0 0 0;
    width: 100px;
    height: 100px;
    align-self: center;
}

.editProfile__img_add_new_photo {
    position: absolute;
    top: 165px;
    left: 255px;
    width: 32px;
    height: 32px;
    opacity: 0.7;
}

.editProfile__edit {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.editProfile__edit > label {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    color: #24254A;
    opacity: 0.5;
}

.editProfile__edit_input {
    margin-top: 8px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(36, 37, 74, .2);
    padding: 5px 0;
}

.editProfile__edit_input:focus {
    outline: none;
}

.editProfile__edit_buttons {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}

.editProfile__edit_buttonCancel {
    width: 125px;
    height: 36px;
    border: none;
    border-radius: 30px;
    background: #D7D8EF;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #21268F;
    opacity: 0.8;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
}

.editProfile__edit_buttonSave {
    width: 125px;
    height: 36px;
    border: none;
    border-radius: 30px;
    background: #21268F;
    box-shadow: 0 4px 18px rgba(33, 38, 143, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ECECF9;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.editProfile__edit_buttonCancel:hover, .editProfile__edit_buttonSave:hover {
    cursor: pointer;
}

.editProfile__edit_buttonCancel:active, .editProfile__edit_buttonSave:active {
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #6666
}

/*Error field show*/

.editProfile__edit_error {
    color: red;
}

.editProfile__edit_server_error {
    max-width: 250px;
    width: 100%;
    color: red;
    margin: 10px 0;
}

.fakeDivAvatarUrl {
    height: 35px;
}

.fakeDiv {
    margin: 10px 0;
    height: 21px;
}