.forgotPass__container {
    max-width: 415px;
    width: 100%;
    background-color: #F9F9FE;
    margin: 0 auto;
    border-radius: 8px;
}

.forgotPass__edit_body {
    padding: 30px;
    max-width: 415px;
    display: flex;
    flex-direction: column;
}

.forgotPass__edit_body h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    align-self: center;
}

.forgotPass__form_body {
    width: 100%;
    margin-top: 40px;
}

.forgotPass__edit {
    position: relative;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
}

.forgotPass__edit_buttons {
    margin-top: 90px;
    display: flex;
    justify-content: center;
}

.forgotPass__edit_input {
    margin-top: 8px;
    width: 100%;
    border: none;
    border-bottom: 2px solid rgba(36, 37, 74, .2);
    padding: 5px 0;
}

.forgotPass__edit_input:focus {
    outline: none;
}

.forgotPass__text_helper {
    margin: 30px 20px 0 0;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2D2E46;
    opacity: 0.5;
}

.forgotPass__text_helper > a {
    text-decoration: none;
    color: #2D2E46;
}

.forgotPass__text_helper > a:hover {
    text-decoration: underline;
}

.forgotPass__text_helper > a:visited {
    color: #2D2E46;
}

.forgotPass__edit_buttonForgotPass {
    max-width: 266px;
    width: 100%;
    height: 36px;
    border: none;
    border-radius: 30px;
    background: #21268F;
    box-shadow: 0 4px 18px rgba(33, 38, 143, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.3);
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.01em;
    color: #ECECF9;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.forgotPass__edit_buttonForgotPass:hover {
    cursor: pointer;
}

.forgotPass__edit_buttonForgotPass:active {
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

button:disabled,
button[disabled] {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #6666
}

.forgotPass_sign_up_container {
    margin-top: 31px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.forgotPass__sign_up_account {
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 24px;
    color: #2D2E46;
    opacity: 0.5;
}

.forgotPass__sign_up {
    margin-top: 11px;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: #21268F;
    text-decoration: none;
}

.forgotPass__sign_up > a {
    text-decoration: none;
    color: #2D2E46;
}

.forgotPass__sign_up > a:hover {
    text-decoration: underline;
}

.forgotPass__sign_up > a:visited {
    color: #2D2E46;
}


/*Error field show*/

.forgotPass_error {
    color: red;
}

.forgotPass_server_error {
    max-width: 250px;
    width: 100%;
    color: red;
    margin: 10px 0;
}

.fakeDivAvatarUrl {
    height: 35px;
}

.fakeDiv {
    margin: 10px 0;
    height: 21px;
}