.nav__container {
    width: 100%;
    height: 60px;
}

.nav__body {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__body a {
    text-decoration: none;
    height: 100%;
    max-width: 150px;
    width: 100%;
}

.active {
    background: #DCCCDB;
    border-bottom: 3px solid #21268F;
}

.nav__activeNav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.4px;
    color: #2D2E46;
}

.nav__body img {
    width: 36px;
    height: 36px;
}

.nav__login_logout {
    width: 40px;
    height: 40px;
    position: fixed;
    top: 9px;
    right: 22%;
    cursor: pointer;
}

.nav__container__notLoginIn {
    max-width: 415px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
}

.nav__container__notLoginIn a {
    color: #635D80;
}

.nav__container__notLoginIn a:hover {
    text-decoration: underline;
}

.nav__container__notLoginIn a:visited {
    color: #635D80;
}