h2 {
    margin: 0;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 33px;
    color: #2D2E46;
}

.profile__body_input_search {
    margin-top: 15px;
    width: 99%;
    height: 36px;
    border: 1px solid rgba(99, 93, 128, .5);
    border-radius: 2px;
}