.cardsFilter__params {
    margin: 17px 25px 50px 25px;
}

.cardsFilter__params h4 {
    text-align: center;
}

.cardsFilter__params_inputs {
    display: flex;
}

.cardsFilter__params_input {
    width: 100%;
    padding: 4px 6px;
    box-sizing: border-box;
    border: 1px solid rgba(36, 37, 74, .5);
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance:textfield; /* Firefox */
}

.cardsFilter__buttonFilter_container {
    display: flex;
    justify-content: flex-end;
}

.cardsFilter__button_filter {
    max-width: 80px;
    width: 100%;
    margin: 15px 5px 0 0;
    background: #D7D8EF;
    border-radius: 2px;
    border: 2px solid #D7D8EF;
    color: #21268F;
    cursor: pointer;
}

.cardsFilter__button_filter:active {
    box-shadow: 0 1px #666;
    transform: translateY(1px);
}

.cardsFilter__server_error {
    max-width: 200px;
    width: 100%;
    color: red;
    text-align: justify;
    font-size: 11px;
    margin-top: 15px;
}