.cardTable__container {
    width: 100%;
    margin-top: 25px;
    padding: 5px;
    background-color: white;
    border-radius: 8px;
}
.cardTable__container > h2 {
    margin-left: 3%;
}

.cardTable__row {
    display: flex;
    background-color: #ECECF9;
    padding: 16px 0 16px 24px;
}

.cardTable__row > span {
    font-style: normal;
    font-weight: 700;
    font-size: 13px;
    line-height: 16px;
    color: #2D2E46;
}

.cardTable__list {
    display: flex;
    background-color: #fff;
    padding: 16px 0 16px 24px;
}

.cardTable__list:nth-child(even) {
    background-color: #F8F7FD;
}

.cardTable__list > span {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.cardTable__find_and_addCard {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 20px 0 10px 0;
}
.cardTable__find_and_addCard > button {
    background: #D7D8EF;
    border-radius: 2px;
    border: 2px solid #D7D8EF;
    color: #21268F;
    margin-right: 3%;
}
.cardTable__find {
    margin-left: 3%;
}
.cardTable__find > label {
    margin-right: 6px;
}
.cardTable__find > input {
    margin-right: 20px;
}

.cardTable__question {
    flex: 0 1 25%;
}

.cardTable__cards {
    flex: 0 1 15%;
}

.cardTable__updates {
    flex: 0 1 20%;
}

.cardTable__answer {
    flex: 0 1 20%;
}
.cardTable__last_updated {
    flex: 0 1 20%;
}

.cardTable__grade {
    flex: 0 1 20%;
    display: flex;
    justify-content: space-between;
}

.cardTable__action {
    display: flex;
    justify-content: space-around;
    width: 13%;
}

.cardTable__button_delete {
    background: #F1453D;
    border-radius: 2px;
    border: 2px solid red;
    color: #FFFFFF;
    margin-right: 2px;
}

.cardTable__button_edit_learn {
    background: #D7D8EF;
    border-radius: 2px;
    border: 2px solid #D7D8EF;
    color: #21268F;
    margin-right: 2px;
}